@model IEnumerable<HuLiLoan.BLL.LoanMoney>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        table {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

           table th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("添加贷款", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                编号
            </th>
            <th>
               金额
            </th>
            <th>
               生效时间
            </th>
            <th>
               终止时间
            </th>
            <th>
               期限
            </th>
            <th>
               利息
            </th>
            <th>
               状态
            </th>           
            <th>
                操作
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approvetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>          
            <td>
                @Html.ActionLink("编辑", "Edit", new { id=item.Lid }) |
                @Html.ActionLink("详情", "Details", new { id=item.Lid }) |
                @Html.ActionLink("删除", "Delete", new { id=item.Lid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
