@model HuLiLoan.BLL.LoanCheckUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        @Html.ActionLink("返回列表", "Index")
        <hr />
        <label><strong>用户名:</strong></label>
        <label>@Html.DisplayFor(model => model.UserName)</label>
        <hr />
        <label><strong>密码:</strong></label>
        <label>@Html.DisplayFor(model => model.Password)</label>
        <hr />
        <label><strong>状态:</strong></label><br />
        <label>@Html.DisplayFor(model => model.Status)</label>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="确认删除" class="btn btn-default" />
            </div>
        }
    </div>
</body>
</html>
